/* animations for modals*/

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.8;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.8;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.8;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.8;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.8;}
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-250px);
    }
    100% {
       opacity: 0.8;
       transform: translateY(0);
    }
 } 

 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(-250px);
    }
    100% {
       opacity: 0.8;
       transform: translateY(0);
    }
 } 

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(250px);
    }
    100% {
       opacity: 0.8;
       transform: translateY(0);
    }
 } 

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 67, 105);
    background-image: url('../images/sunset.jpg');
    height: 1500px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: auto;
    
}

header {
    padding: 3vw;
    background-color:grey;
    opacity: 0.65;
    align-items: center;
}

header h1 {
    font-size: 60px;
}

nav {
    left: 0vw;
    width: 100%;
    background-color: #333;
}

.navBtn {
    background-color: #333;
    border: none;
    text-align: center;
    padding-right: 50px;
    font-size: 20px;
    text-decoration: inherit;
    color: white;
    height: 60px;
}

.navBtn:hover {
    background-color: #111;
}

.navBtn:focus {
    background-color: #111;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

section {
    margin: 30px;
    background-color: brown;
    opacity: 0.9;
}

section h2 {
    font-size: 40px;
    padding: 20px;
    margin: 30px;
    border-bottom: 3px solid black;
}

.bio {
    font-size: 30px;
    margin: 30px;
}

.myimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -160px;
    height: 325px;
    width: 500px;
    border: 5px solid;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
}

.modals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contactModal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: orange;
    top: -150px;
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
    width: 85%;
    z-index: 1;
    animation: fadeInRight ease 2s;
    -webkit-animation: fadeInRight ease 2s;
    -moz-animation: fadeInRight ease 2s;
    -o-animation: fadeInRight ease 2s;
    -ms-animation: fadeInRight ease 2s;
    opacity: 0.8;
}

.iconGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    padding: 20px 20px 20px 20px;
}

.icon:hover {
    animation: rotate;
    animation-duration: 1s;
}

.phone {
    background-color: orangered;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.projectModal {
    display: none;
    position: absolute;
    background: #ccc;
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
    width: 85%;
    margin: 100px;
    z-index: 1;
    animation: fadeInDown ease 2s;
    -webkit-animation: fadeInDown ease 2s;
    -moz-animation: fadeInDown ease 2s;
    -o-animation: fadeInDown ease 2s;
    -ms-animation: fadeInDown ease 2s;
    opacity: 0.8;
}

.modalHeaders {
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
    margin: 40px;
    border-bottom: 3px solid;
}

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#card1 {
    background-image: url(../images/project1.jpeg);
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    margin: 20px;
    opacity: 1;
}

#card2 {
    background-image: url(../images/weatherpage.jpeg);
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    margin: 20px;
    opacity: 1;
}

#card3 {
    background-image: url(../images/tech_blog.jpeg);
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    margin: 20px;
    opacity: 1;
}

#card4 {
    background-image: url(../images/seasonsgreetings.jpeg);
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    margin: 20px;
    opacity: 1;
}

#card1:hover {
    background-image: url('../images/project1github.jpeg');
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

#card2:hover {
    background-image: url('../images/weatherappgithub.jpeg');
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

#card3:hover {
    background-image: url('../images/tech_bloggithub.jpeg');
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

#card4:hover {
    background-image: url('../images/seasonsgreetingsgithub.jpeg');
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.projectHeader {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: bolder;
    background-color: #333;
    color: white;
    width: 45%;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.resumeModal {
    display: none;
    position: absolute;
    background: #ccc;
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
    width: 85%;
    margin: 100px;
    z-index: 1;
    animation: fadeInLeft ease 2s;
    -webkit-animation: fadeInLeft ease 2s;
    -moz-animation: fadeInLeft ease 2s;
    -o-animation: fadeInLeft ease 2s;
    -ms-animation: fadeInLeft ease 2s;
    opacity: 0.8;
}

.resumeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;

}

.resumeDnld {
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 30px;
    font-size: 50px;
    background-color: #278bce;
}

.closeBtn {
    position: absolute;
    right: 0px;
    top: 0px;
}

@media only screen and (max-width: 1330px){
    .icon {
        height: 110px;
        width: 110px;
    }
}

@media only screen and (max-width: 1050px){
    .contactModal {
        margin-left: 50px;
    }
    .projectModal {
        margin-left: 50px;
    }

    .resumeModal {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1000px){
    .main {
        grid-template-columns: 1fr;
    }
    .myimage {
        top: 75px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -o-border-radius: 100%;
    }
    .contactModal {
        top: 125px;
        background-color: lightblue;
    }
    .icon {
        height: 175px;
        width: 175px;
    }

    .phone {
        background-color: lightcyan;
        color: black;
    }
}

@media only screen and (max-width: 950px){
    .projectGrid {
        grid-template-columns: 1fr;
    }
    .card {
        height: 250px;
    }
}

@media only screen and (max-width: 850px){
    .resumeImg {
        display: none;
    }
}

@media only screen and (max-width: 760px){
    .iconGrid {
        grid-template-columns: 1fr;
    }

    .icon {
        padding: 20px;
    }
}

@media only screen and (max-width: 550px){
   nav {
       display: grid;
       grid-template-columns: 1fr;
   }

   header h1 {
       font-size: 45px;
   }

   .contactModal {
        margin-left: 25px;
    }

    .projectModal {
        margin-left: 25px;
    }

    .resumeModal {
        margin-left: 25px;
    }

   .navBtn {
       padding: 0px;
       margin: 0px;
       height: 35px;
       border-right: none;
       border-bottom: 1px solid;
   }

   .myimage {
       width: 300px;
       height: 190px;
       margin-top: 20px;
   }

   .bio {
       font-size: 25px;
   }
}

@media only screen and (max-width: 350px){
    .modalHeaders {
        font-size: 25px;
    }

    .resumeDnld {
        padding: 10px;
        font-size: 25px;
    }
}